<div class="container">
    <div class="form">
     <h2>SignUp Here</h2>
     <!-- model value:{{userInfo | json}}
     <br/> -->
     <input type="text" name="uname" class="a1" placeholder="Type Your Name" [(ngModel)]="userInfo.name" required>
     <input type="email" name="email" class="a1" placeholder="Type Your Email"[(ngModel)]="userInfo.email" required>
     <input type="password" name="pass1" class="a1"  placeholder="Type Your Password"[(ngModel)]="userInfo.pass1" required #z><br>
     <input type="checkbox" (click)="z.type=z.type=='password'?'taxt':'password'"><label style="color: black;">&nbsp;  Show Password</label> <br>
     <button type="button" (click)="onSubmit()" class="btnn">Sign up</button>
     <p>Already have an account?<a [routerLink] ="['/user/']"> Login</a></p>
     
     </div>
   </div>

